body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border-radius: 5px;
  border: 1px solid rgb(211, 200, 200);
}

b {
  color: dodgerblue;
  font-size: 20px;
}
