section {
    display: flex;
    justify-content: center;
}

.name-course {
    display: flex;
    justify-content: center;
}


input {
    width: 400px;
    height: 50px;
    text-align: center;
    margin: 0 0 20px 0;
    font-weight: 400;
}

input:focus{
    outline: none;
    border: 1px solid dodgerblue;
    font-weight: bold;
}

input::placeholder {
    font-family: 'Roboto Condensed', sans-serif;
}